<div class="news" *ngIf="showHidden" [style.color]="color">
  <h3>Utente: {{user}}</h3>
  <p>{{today | date: 'dd EEEE MMMM yyyy HH:mm:ss'}}</p>
  <ul>
    <li *ngFor="let notizia of listanews" (click)="dettaglio(notizia.id)">
      <h2>{{notizia.titolo}}</h2>
      <p>{{notizia.descrizione}}</p>
    </li>
  </ul>
</div>
<p>Mostra o nascondi la lista delle news!</p>
<button (click)="showOrHideListOfNews()">Mostra/Nascondi</button>
<select (change)="changeColor(field)" #field>
  <option value="1">Rosso</option>
  <option value="2">Blu</option>
</select>

<form style="margin-top: 20px;" (ngSubmit)="send()" [formGroup]="form">
  <div style="margin-top: 10px;">
    <input type="text" id="exampleInputUsername" (input)="checkUser()" placeholder="nome utente"
      formControlName="username">
  </div>
  <div style="margin-top: 10px;">
    <input type="email" id="exampleInputEmail" email="true" placeholder="email" formControlName="email">
  </div>
  <button type="submit" style="margin-top: 10px;">Invia</button>
</form>
