.navbar-custom {
  background: var(--main_color);
}

.navbar-custom a {
  color: rgb(247, 247, 247);
}

.navbar-custom a:hover {
  color: rgb(236, 236, 236);
}

.nav-icon svg {
  color: rgb(247, 247, 247);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
