<div>
  <div class="row">

    <div class="col-sm-12 d-flex justify-content-start container-metro">

      <span class="icon-treno">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor"
            d="M18,10H6V5H18M12,17C10.89,17 10,16.1 10,15C10,13.89 10.89,13 12,13A2,2 0 0,1 14,15A2,2 0 0,1 12,17M4,15.5A3.5,3.5 0 0,0 7.5,19L6,20.5V21H18V20.5L16.5,19A3.5,3.5 0 0,0 20,15.5V5C20,1.5 16.42,1 12,1C7.58,1 4,1.5 4,5V15.5Z" />
        </svg>
      </span>

      <div class="px-3" *ngIf="treno">
        <h5><i>Linea: {{treno.linea}} (Treno: {{treno.idt}})</i></h5>
        <p>Direzione: {{treno.direzione}}</p>
        <p>Stazione: {{treno.stazione}}</p>
        <p>Carrozza: {{treno.carrozza}}</p>
      </div>
    </div>

    <div class="col-sm-9"></div>
    <div class="d-flex-row col-12">
      <ca-chat *ngFor="let chat of listachat" [msgIn]="chat">
      </ca-chat>
    </div>


  </div>
  <hr />
</div>
