.cont-profilo-utente {
  border: 1px solid rgba(51, 51, 51, 0.24);
  padding: 20px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.photo-u-content {
  display: inline-block;
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 50%;
}

.photo-u-content img {
  width: auto;
}
