<h1>Registrazione</h1>
<h4>Inserisci i tuoi dati per iscriverti alla nostra app MetroChat</h4>

<form #mioform="ngForm" (ngSubmit)="invio(mioform)">

  <div *ngIf="isShown" class="alert alert-success my-3" role="alert">
    Registrazione avvenuta con successo!
  </div>

  <div class="my-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" name="nome" placeholder="il tuo nome" [(ngModel)]="nome_modello" class="form-control">
  </div>
  <div class="my-3">
    <label for="email" class="form-label">E-mail</label>
    <input type="email" name="email" placeholder="la tua e-mail" [(ngModel)]="email_modello" class="form-control">
  </div>
  <div class="my-3">
    <label for="password" class="form-label">Password</label>
    <input #password type="password" name="password" placeholder="la tua password" [(ngModel)]="password_modello"
      class="form-control" autocomplete="on" required>
  </div>
  <button type="submit" class="btn-custom">Registrati</button>
</form>
