<h1>Registrazione</h1>
<h4>Inserisci i tuoi dati per iscriverti alla nostra app MetroChat</h4>

<form #mioform="ngForm" (ngSubmit)="invio(mioform)">
  <div class="my-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" name="nome" placeholder="il tuo nome" [(ngModel)]="nome_modello" class="form-control">
  </div>
  <div class="my-3">
    <label for="email" class="form-label">E-mail</label>
    <input type="email" name="email" placeholder="la tua e-mail" [(ngModel)]="email_modello" class="form-control">
  </div>
  <button type="submit" class="btn-custom">Registrati</button>
</form>

<p>stai scrivendo nel campo nome: {{nome_modello}}</p>
<p>stai scrivendo nel campo email: {{email_modello}}</p>
