html {
    line-height: 1.1;
    }

  nav {
    background-color: #039be6;
  }

    nav ul {
    font-size: 1.2rem;
  }

  .pages {
	font-size: 15px;
  }

  label {
	font-size: 16px;
  }

  .switch {
	padding: 10px 0;
  }

  .pages > div {
	display:none;
  }
  .pages > div.current {
	 display:block;
  }

  .menuicon, .menuback {
	/*padding-left: 15px;*/
  }
  .menuback {
	display: none;
  }
  a.link {
	-webkit-tap-highlight-color: rgba(0,0,0,.2);
  }

  nav .brand-logo {
    position: relative;
    float: left;
	font-size: 1.4rem;
    padding-right: 20px;
    padding-left: 20px;
  }

  .switch label .lever{
	margin:0;
  }

  #home .row {
	margin-bottom: 5px;
  }

  @media screen and (max-width:992px) {
  nav .brand-logo {
    left: unset;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  }

  .showerror {
  display:none;
  }

  .loader {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
  }
  
  .smallicon {
	font-size: 19px;
	vertical-align: middle;
  }
  .bigicon {
	font-size: 30px;
	vertical-align: top;
  }
  .collection-item {
    cursor:pointer;
  }
  .collection .collection-item.avatar .secondary-content {
    top: 30px;
    right: 16px;
  }
  
  .collection .collection-item {
    padding: 20px 20px;
  }
  .timer {
	font-size: 20px;
  }
  footer.page-footer {
  	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #FFF;
  }
 
<!---->

.chatmsg {
	position: relative;
}

.chatmsg li:first-child {
    border-top: 1px solid #e0e0e0;
    margin-bottom: 1px;
}

.chatmsg li {
    min-height: 80px;
    border-bottom: 1px solid #e0e0e0;
	position: relative;
}

.chatmsg li a {
    color: #42c4ac;
    display: block;
    transition: color .3s;
}
a {
    text-decoration: none;
}
.chatmsg li .avatar-wrapper {
    float: left;
    margin-top: 14px;
}

.avatar-wrapper {
    position: relative;
    display: inline-block;
}

.chatmsg li a {
    color: #7b7b7b;
}
ul:not(.browser-default) li {
    list-style-type: none;
}
.avatar-wrapper .k {
    display: block;
    overflow: hidden;
    height: 50px;
    width: 50px;
}
.avatar-wrapper .k img {
    width: 50px;
}

.aa, .avatar-wrapper .k {
    border-radius: 50%;
}
.chatmsg li .cx {
margin-left: 23px;
font-size: 16px;
font-weight: 300;
padding-left: 40px;
max-width: 80%;
padding-top: 5px;
}

.chatmsg li .ei {
   position: absolute;
   top: 24px;
   right: 16px;
   font-size: 2.2rem;
   color:rgb(3, 155, 230);
}
.chatmsg li .ei .on, .bigicon.on {
	color: #CE0606;
}
footer.page-footer{
    padding-top:0;
}
